<!DOCTYPE html>
{% import "macro_form_field.html" as macro_form %}
{% import "macro_submit_field.html" as macro_submit %}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-con">

    {% if title %}
    <title>{{ title }} - MyBlog</title>
    {% else %}
    <title>MyBlog</title>
    {% endif %}
</head>

<body>
    <nav class="navbar navbar-expand bg-light m-3 px-3 py-1">
        <div class="d-flex flex-grow-1">
            <span class="navbar-brand h1">Bloggg</span>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index_page') }}">{{ _('Home') }}</a>
                </li>
            </ul>
        </div>
        <div style="d-flex">
            <ul class="navbar-nav">
            {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login_page') }}">{{ _('Login') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.registration_page') }}">{{ _('Register') }}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_page', username=current_user.username) }}">
                        {{ _('Hi <b>%(user)s</b>!', user=current_user.username) }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout_page') }}">{{ _('Logout') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_page',
                        username=current_user.username) }}">{{ _('Profile page') }}</a>
                </li>
            {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container mb-3">
        {% with flashed_messages = get_flashed_messages() %}
        {% if flashed_messages %}
            {% for message in flashed_messages %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="container-fluid m-0 px-3">
        <div class="container-fluid m-0 p-3 bg-light">
            {% block content %} {% endblock %}
        </div>
    </div>

    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    <script>
        async function translate(source_element, destination_element, source_language_, destination_language_) {
            document.getElementById(destination_element).innerHTML =
                '<img src="{{ url_for('static', filename='loading.gif') }}">';
            const response = await fetch('/translate', {
                method: 'POST',
                headers: {'Content-Type': 'application/json; charset=utf-8'},
                body: JSON.stringify({
                    text: document.getElementById(source_element).innerText,
                    source_language: source_language_,
                    destination_language: destination_language_
                })
            });
            const data = await response.json();
            document.getElementById(destination_element).innerText = data.text;
        }
    </script>
</body>
</html>