{% extends "base.html" %}

{% block content %}
    {% if post_form %}
    <h4>{{ _('Write a post:') }}</h4>
    <form action="" method="post" novalidate>
        {{ post_form.hidden_tag() }}

        {{ macro_form.form_field(post_form.title, size=64) }}
        {{ macro_form.form_field(post_form.text, size=64) }}

        {{ macro_submit.submit_field(post_form.submit) }}
    </form>
    {% endif %}

    {% for post in posts %}
        {% include "sub_post.html" %}
    {% endfor %}

    {% include "sub_pagination.html" %}
    
{% endblock %}