{% extends "base.html" %}

{% block content %}
<h1>Log IN</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    {{ macro_form.form_field(form.username) }}
    {{ macro_form.form_field(form.password) }}
    Remember me: {{ macro_submit.submit_field(form.remember_me) }}
    {{ macro_submit.submit_field(form.submit, value="Log in") }}

    <p>
        Forgot your password?
        <a href="{{ url_for('reset_password_request_page') }}">Reset</a>
    </p>
</form>
{% endblock %}