{% extends "base.html" %}

{% block content %}
<div class="table">
    <div class="row mb-3">
        <div class="col">
            <img src="{{ user.avatar(128) }}">
        </div>
        <div class="col">
            <p class="h4 bg-light">{{ user.username }}</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col bg-light">
            {{ _('Contact info:') }} <a class="bg-light" href="mailto:{{ user.email }}">{{ user.email }}</a>
        </div>
        <div class="col">
            {% if user.last_seen %}
                {{ _('Last seen on:') }} {{ moment(user.last_seen).fromNow() }}
            {% endif %}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            {% if user.about %}
                <b>{{ _('About:') }} </b>{{ user.about }}
            {% endif %}
        </div>
    </div>
    <div class="row mb-3">
        {% if current_user != user %}
            <div class="col">
                {% if not current_user.is_following(user) %}
                <form action="{{ url_for('main.follow_user', username=user.username) }}"
                    method="post">
                        {{ form.hidden_tag() }}
                        {% set value %}{{ _('Follow') }}{% endset %}
                        {{ macro_submit.submit_field(form.submit, value=value) }}
                </form>
                {% else %}
                <form action="{{ url_for('main.unfollow_user', username=user.username) }}"
                    method="post">
                        {{ form.hidden_tag() }}
                        {% set value %}{{ _('Unfollow') }}{% endset %}
                        {{ macro_submit.submit_field(form.submit, value=value) }}
                </form>
                {% endif %}
            </div>
        {% endif %}
        <div class="col">
            <b>{{ _('Followers:') }}</b> {{ user.followers_counter() }}
            <b>{{ _('Following:') }}</b> {{ user.following_counter() }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if user == current_user %}
                <a href="{{ url_for('main.edit_profile_page') }}">{{ _('Edit your profile') }}</a>
            {% endif %}
        </div>
    </div>
</div>

<h2>{{ _('Posts') }}</h2>

{% for post in posts %}
    {% include "sub_post.html" %}
{% endfor %}

{% include "sub_pagination.html" %}

{% endblock %}